GOALS FOR <%= @exercise.name %> <br/><br/>
SETS: <%= @exercise.sets %> <br/>
REPS: <%= @exercise.reps %> <br/>
WEIGHT: <%= @exercise.weight %> <br/>
TEMPO: <%= @exercise.tempo %> <br/>
REST:<span class="rest_time" data-rest=5> 5 </span> <br><br>

<div class="done-ex-input">
Achieved
<%= form_for @exercise_history, url: {action: "create"} do |f| %>
  Sets :<%= f.text_field :sets %> <br/>
  Reps :  <%= f.text_field :reps %> <br/>
  Weight <%= f.text_field :weight %> <br/>
  Tempo <%= f.text_field :tempo %> <br/>

  <%= f.submit "Create" %>
<% end %>
</div>

<input type="checkbox" id="toggler" class="modal-toggler">

<section class="exercise-container">
  <label for="toggler" class="modal  close-modal-area"></label>
  <div class="modal  modal-box">
    <h1>  <span class="minutes"></span>0<span class="minute">0</span><span class="colon">:</span><span class="seconds">0</span><span class="second">0</span></h1>
    <label for="toggler" class="workout toggle-modal-button">Workout!</label>
  </div>
</section>
<section class="content">
  <div class="modal">

<label for="toggler" class="toggle-modal-button timer_button">Rest!</span></label>
<p>w</p>
  </div>
</section>
