
<div class="history_tables">
  <div class="history">
    <table style="width:200px" id="muscle_table">
      <th>
        <tr>
        <td>Name</td>
        <td>Sets</td>
        </tr>
      </th>
      <tbody id="muscle_table_body">
      <% @history1.each do |k,v|%>
        <tr id="mRow">
          <td id="mName"><%= k %></td>
          <td id="mvalue"><%= v %></td>
        </tr>
      <%end%>
       </tbody>
     </table>
     <button class="viewMuscles">chart</button>
  </div>
</div>

<div id="body">

</div>

<div class="svg-container">

</div>

<!-- <div id="heatmap" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->

<div id="line-chart" style="min-width: 400px; max-width: 600px; height: 400px; margin-top: 0px; float: right;"></div>
<!--
<table style="width:900px" id="exercise_table">
    <th>
      <tr>
      <td>Name</td>
      <td>Sets</td>
      <td>Reps</td>
      <td>Weight</td>
      <td>Tempo</td>
      <td>Date</td>
      </tr>
    </th>
    <tbody id="exercise_table_body">
      <% current_user.exercise_histories.each do |exercise| %>
        <tr>
          <td><%= exercise.name %></td>
          <td> <%= exercise.sets %></td>
          <td> <%= exercise.reps %></td>
          <td> <%= exercise.weight %></td>
          <td> <%= exercise.tempo %></td>
          <td> <%= exercise.created_at %></td>
       </tr>
       <% end%>
      </tbody>
  </table> -->
