
<div class="history_tables">
  <div class="history">
    <table style="width:200px" id="muscle_table">
      <th>
        <caption class="values"><%= @exercise_name.upcase %></caption>
        <tr>
        <td class="values">Name</td>
        <td class="values">Sets</td>
        </tr>
      </th>
      <tbody id="muscle_table_body">
      <% @history1.each do |k,v|%>
        <tr id="mRow">
          <td id="mName" class="values"><%= k %></td>
          <td id="mvalue" class="values"><%= v %></td>
        </tr>
      <%end%>
       </tbody>
     </table>
     <button class="viewMuscles">chart</button>

      <table style="width:200px" id="muscle_table_2">
      <th>
        <caption class="values"><%= @exercise_name.upcase %></caption>
        <tr>
        <td class="values">Name</td>
        <td class="values">Sets</td>
        </tr>
      </th>
      <tbody id="muscle_table_body">
      <% @history2.each do |k,v|%>
        <tr id="mRow">
          <td id="mName" class="values"><%= k %></td>
          <td id="mvalue" class="values"><%= v %></td>
        </tr>
      <%end%>
       </tbody>
     </table>
     <button class="viewMuscles2">chart</button>
  </div>
</div>

<div id="body">
</div>

<div class="svg-container">
</div>

<div id="line-chart" style="min-width: 400px; max-width: 600px; height: 400px; margin-top: 0px; float: right;"></div>

