<div class="num_sets" data-sets = <%= @exercise_history.sets %> >
</div>

<div class="human">
</div>

<div class=history>
  <table style="width:300px" id="muscle_table">
    <th>
      <tr>
      <td>Name</td>
      <td>Sets</td>
      </tr>
    </th>
    <tbody id="muscle_table_body">
    <% @history.each do |k,v|%>
      <tr id="mRow">
        <td id="mName"><%= k %></td>
        <td id="mvalue"><%= v %></td>
      </tr>
    <%end%>
     </tbody>
   </table>
   <button id="viewMuscles">view workout</button>
</div>

<div class="svg-container">

</div>
<div id="heatmap" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<table style="width:900px" id="exercise_table">
    <th>
      <tr>
      <td>Name</td>
      <td>Sets</td>
      <td>Reps</td>
      <td>Weight</td>
      <td>Tempo</td>
      <td>Date</td>
      </tr>
    </th>
    <tbody id="exercise_table_body">
      <% current_user.exercise_histories.each do |exercise| %>
        <tr>
          <td><%= exercise.name %></td>
          <td> <%= exercise.sets %></td>
          <td> <%= exercise.reps %></td>
          <td> <%= exercise.weight %></td>
          <td> <%= exercise.tempo %></td>
          <td> <%= exercise.created_at %></td>
       </tr>
       <% end%>
      </tbody>
  </table>
