<!DOCTYPE html>
<html>
<head>
  <title>StrongTimes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  <nav>
    <div id="logo">
      <a href="/">REST-LESS</a>
    </div>
    <div id="navBarButtons">
      <% if user_signed_in? %>
        <%= button_to('Logout', destroy_user_session_path, :method => :delete, :class=> "navButton") %>
      <% else %>
        <%= button_to('LOGIN', new_user_session_path, :method => "get", :class => "navButton")  %>
        <%= button_to('SIGN UP', new_user_registration_path, :method => "get", :class => "navButton") %>
      <% end %>
  </div>
  </nav>

      <%= yield %>

      <footer></footer>
  </div>
</body>
</html>
